# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
int_1 = 30
int_2 = 30

print(int_1==int_2)
print(int_1 is int_2)
print(id(int_1), id(int_2))

int_1 = 300
int_2 = 300

print(int_1==int_2)
print(int_1 is int_2)
print(id(int_1), id(int_2))

True
True
138366237361296 138366237361296
True
False
138365811128752 138365811127184

Однакові значення int з проміжку посилаються на один і той самий об'єкт в пам'яті, поза проміжком - ні.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
print(isinstance(True, int))
print(isinstance(True, bool))
print(isinstance(0, bool))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
int_op = 1000
float_op = 3.

print(int_op + float_op)
print(int_op - float_op)
print(int_op / float_op)
print(int_op * float_op)
print(int_op // float_op)
print(int_op % float_op)
print(int_op ** float_op, '\n')

float_op = 2.71

print(int_op + float_op)
print(int_op - float_op)
print(int_op / float_op)
print(int_op * float_op)
print(int_op // float_op)
print(int_op % float_op)
print(int_op ** float_op)

1003.0
997.0
333.3333333333333
3000.0
333.0
1.0
1000000000.0

1002.71
997.29
369.00369003690037
2710.0
369.0
0.01000000000001311
134896288.25916532

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(int(float_op))
bool_op = True
print(int(bool_op))

2
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
print('String 1:', '')
print('String 2:', "")

String 1:
String 2:

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
my_str = "'"
print(my_str)
my_str = r"'"
print(my_str)

my_str = '\''
print(my_str)
my_str = r'\''
print(my_str)

'
'
'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Yurchenko"
print(f"My surname is {surname}")

My surname is Yurchenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
print("My dog is crazy".lower().split())

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list_1 = []
list_2 = list()
len(list_1)

0

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list_1 = [1]
list_2 = list()
list_1.append(list_2)
list_1

[1, []]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list_3 = [[1,2],[3,4],[5,6]]
print(list_3[-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list_4 = [1, 2., [3], {4}, {5:6}, (7), "8", True, complex(10, 11)]
print(complex(10, 11))
list_slice = list_4[2:-2]
list_slice

(10+11j)

[[3], {4}, {5: 6}, 7, '8']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
print((1,))
type((1,))

(1,)

tuple

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список змінний, кортеж - незмінний. Кортеж може бути hashable якщо всі його елементи hashable і в такому разі може бути використаний, наприклад, як ключ у словнику.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
my_tuple = tuple(x + x/100 for x in range(11))
print(my_tuple)
tuple_slice = my_tuple[-1::-2]
print(tuple_slice)

(0.0, 1.01, 2.02, 3.03, 4.04, 5.05, 6.06, 7.07, 8.08, 9.09, 10.1)
(10.1, 8.08, 6.06, 4.04, 2.02, 0.0)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()
# dir(my_set)
my_set.add(1)
my_set.add(2)
print(my_set)

my_set.add(1)
print(my_set)

my_set is {1, 2}

{1, 2}
{1, 2}

False

Так. Незмінною варіацією є frozenset

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set(my_list)

{1, 2, 8, 9, 67}

Сет не містить повторів, тому повторні елементи збереглись як один.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
print(dir(set))
print(set_1.union(set_2))
print(set_1.difference(set_2))
print(set_1.intersection(set_2))
print(set_1.symmetric_difference(set_2), '\n')

print(set_1)
print(set_2)

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{1, 2, 3, 4, 5, 6}
{1, 2}
{3, 4}
{1, 2, 5, 6}

{1, 2, 3, 4}
{3, 4, 5, 6}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict_1 = {}
dict_1.update({1:1, '1': 2, (1,): 3, 1.5: 4})
dict_1
# dir(dict_1)

{1: 1, '1': 2, (1,): 3, 1.5: 4}

Список не може бути ключем бо він змінний.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dict_2 = {1:1, 2:{1:1, 2:dict_1}}
print(dict_2)
print(dict_2[2][2])
print(dict_2[2][2].values())

{1: 1, 2: {1: 1, 2: {1: 1, '1': 2, (1,): 3, 1.5: 4}}}
{1: 1, '1': 2, (1,): 3, 1.5: 4}
dict_values([1, 2, 3, 4])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.